<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/ajuda.css">
    <title>Ajuda</title>
</head>

<body>

    <a class="link-to-login" href="../index.php"> Voltar para página inicial</a>
    <h1>Instruções de Uso:</h1>

<p> Realizar o cadastro na página;</p> 
<p> Realizar Login com os dados cadastrados no cadastro.</p>


<h3>Perfil Aluno:</h3>

<p>Assim que efetuado o login, será redirecionado para a tela turmas.
Na tela turmas, caso não seja cadastrado na turma, terá que se cadastrar, com o código e senha fornecido pelo professor.
Caso já tenha se cadastrado na turma, basta iniciar o quiz ou escolher as outras opções que o sistema oferece, como conferir os vídeos sobre Orientação a Objetos, verificar o seu rendimento,
acessar os materias complementares.
Poderá realizar o Quiz quantas vezes desejar, será salva somente a pontuação mais alta.</p> 

<h3>Perfil Professor:</h3>

<p>Assim que efetuado o login, será redirecionado para a tela turmas.
Na tela turmas, o professor terá o mesmo acesso que o perfil aluno, exceto na tela turmas, onde será possível o mesmo
efetuar o cadastramento de uma e disponibilizar o código e a senha para seus alunos.</p>

<p>Qualquer dúvidas ou informações, basta enviar um e-mail para <strong>amandadyaz@gmail.com</strong>, com a sua solicitação.</p>


<h4>Espero que o sistema o ajude ao longo do aprendizado de Programação Orientada á Objetos.</h4>

<h4>Até mais, e bons estudos!</h4>

<img src="../assets/img/ajuda.svg" alt="some text" width=60% height=60%>
</body>
</html>