<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" type="text/css" href="../assets/css/teorica.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/main1.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <script src="../assets/js/jquery.min.js"></script>

        <title>Atividades Teóricas</title>

        <script>
          $(document).ready(function () {
            $.ajax({
              url: "../../controller/AtividadeController.php",
              type: "GET",
              data: {
                getByTurmaCodigo: 211080, //Este código é pego de acordo com o ID da turma lá no Banco de dados
              },
              success: function (data) {
                const atividades = JSON.parse(data)
                atividades.forEach(({ id, descricao }, i) => {
                  $(".events ul").append(`
                    <li>
                      <div class="time">
                          <h2>  <br> <span>${i + 1}</span></h2>
                      </div>
                      <div class="details">
                        <h3>${descricao}</h3>
                        <a href="../../view/perguntas.html?ativ=${id}">Iniciar Quiz</a>
                      </div>
                    </li>
                  `)
                });
              }
            })
          });
        </script>
    </head>

    <body>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
              <div></div>
            </div>
            <div class="menu">
              <div>
                <div>
                  <ul>
                    <li><a href="../index.html">Início</a></li>
                    <li><a href="./videos.html">Vídeos</a></li>
                    <li><a href="./atividades.html">Atividades Teóricas</a></li>
                    <li><a href="./praticas.html">Atividades Práticas</a></li>
                    <li><a href="#">Rendimento</a></li>
                    <li><a href="./mais.html">Mais</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <section>
              <div class="leftBox">
                  <div class="content">
                      <h1>Atividades Teóricas</h1>
                      <p>De acordo com o aprendizado em sala de aula nesta seção o aluno deverá
                          aplicar todo o conhecimento adquirido em diversas atividades teóricas  relacionadas ao Paradigma de Orientação a Objetos.
                      </p>
                  </div>
              </div>
             <div class="events">
                  <ul>
                      <li>
                          <div class="time">
                              <h2>  <br> <span> 1</span></h2>
                          </div>
                          <div class="details">
                            <h3>Objeto</h3>
                            <p>Este quiz tem como  finalidade testar o conhecimento dos alunos sobre Objeto.</p>
                            <a href="../view/perguntas.html">Iniciar Quiz</a>
                          </div>
                          
                      </li>
                      <li>
                        <div class="time">
                            <h2>  <span> 2 </span></h2>
                        </div>
                        <div class="details">
                          <h3>Exemplo</h3>
                          <p>ISTO É UM EXEMPLO</p>
                          <a href="#">Detalhes</a>
                        </div>
                        
                    </li>
                    <li>
                      <div class="time">
                          <h2>  <span> 3</span></h2>
                      </div>
                      <div class="details">
                        <h3>Exemplo</h3>
                        <p>ISTO É UM EXEMPLO</p>
                        <a href="#">Detalhes</a>
                      </div>
                     
                  </li>
                  
                  </ul>
                </div>
          </section>

    </body>
</html>