<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/mais.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/main1.css">
        
        
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="../index.html">Início</a></li>
                    <li><a href="./videos.html">Vídeos</a></li>
                    <li><a href="./atividades.html">Atividades Teóricas</a></li>
                    <li><a href="./praticas.html">Atividades Práticas</a></li>
                    <li><a href="#">Rendimento</a></li>
                    <li><a href="./mais.html">Mais</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <div class="container">
      <span class="big-circle"></span>
      <img src="../assets/img/corpo.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Sobre o Trabalho</h3>
          <p class="text">
           Trabalho desenvolvido pela aluna Amanda Durães juntamente com a professora Alessandra Paulino com o objetivo de ajudar alunos na disciplina
           de Paradigma de Orientação a Objetos, fazendo com que a evasão e reprovação sejam diminuídas.
          </p>

          <div class="info">
            <div class="information">
                <img src="../assets/img/ufu.png" class="icon" alt="" />
              <p>Universidade Federal de Uberlândia</p>
            </div>
            <div class="information">
              <img src="../assets/img/e-mail.png" class="icon" alt="" />
              <p>amandaduraes@ufu.br</p>
               
            </div>
            <div class="information">
                <img src="../assets/img/e-mail.png" class="icon" alt="" />
              <p>alessandra@ufu.br</p>
            </div>
          </div>

          
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="index.html" autocomplete="off">
            <h3 class="title">Contato</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" />
              <label for="">Nome</label>
              <span>Nome</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">E-mail</label>
              <span>E-mail</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" />
              <label for="">Telefone</label>
              <span>Telefone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Mensagem</label>
              <span>Mensagem</span>
            </div>
            <input type="submit" value="Enviar" class="btn" />
          </form>
        </div>
      </div>
    </div>

    
  </body>
</html>