<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main1.css">
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8"/>

    <title> Login</title>

    <!-- <script>

    $(document).ready(function () {

      $("#login").submit(function (e) {

        e.preventDefault();

        var email = $("#email").val();
        var senha = $("#senha").val();

        $.ajax({
          type: "POST",
          url: "../controller/UsuarioController.php",
          data: {
            login: 1,
            email,
            senha,
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log({
              jqXHR,
              textStatus,
              errorThrown
            })

          },
          success: function (data) {
            var response = JSON.parse(data);

            if(response.res) {
              const user = response.user;
              if (user.perfil === "aluno") {
                location.href = "atividades.html";
              }
              else {
                location.href = "mais.html";
              }

              console.log(response.user);
            }
            else {
              alert("Usuário ou senha inválidos!");
            }
          }
        });
      })
    });

  </script> -->
</head>
    <body>
       <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
              <div></div>
            </div>
            <div class="menu">
              <div>
                <div>
                  <ul>
                    <li><a href="../index.html">Inicío</a></li>
                    <li><a href="../view/videos.html">Vídeos</a></li>
                    <li><a href="../view/indexatividades.html">Atividades Teorícas</a></li>
                    <li><a href="../view/praticas.html">Atividades Práticas</a></li>
                    <li><a href="#">Rendimento</a></li>
                    <li><a href="../view/mais.html">Mais</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <main class="corpo">
            <!-- <img src="../assets/img/turma.svg" alt="" class="wave"> -->
           <div class="container">
               <div class="img">
                  <img src="../assets/img/turma.svg" alt="">
              </div> 
              <div class="login-container">
                  <form  id="login">
                      <img class = "avatar" src="../assets/img/undraw_profile_pic_ic5t.svg" alt="">
                      <h2>Cadastrar Turma</h2>

                      <div class="input-div one">
                          <div class="i">
                            <i class="fas fa-user">   </i>


                          </div>
                          <div>
                              <h5>Nome: </h5>
                              <input type="text" class="input" placeholder="Insira o nome" id="nome">
                          </div>
                      </div>
                      <div class="input-div two">
                          <div class="i">
                              <i class="fas fa-lock"></i>
                          </div>


                      <div>
                        <h5>Senha</h5>
                        <input type="password" class="input" placeholder="Senha" id="senha">
                      </div>
                    </div>


                    <!-- <a href="#"> Esqueceu a senha?</a>
                    <br> -->
                    <a href="./cadastro.html"> Não é cadastrado? Clique aqui para se cadastrar.</a>
                    <input type="submit" class="btn" value="Login">


                  </form>
            </div>
           </div>
        </main>













<script type="text/javascript" src="../assets/js/main.js"></script>
    </body>






</html>