<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/ajuda.css">
    <title>Boas Práticas</title>
</head>
<body>
    <a class="link-to-login" href="./material.php"> Voltar</a>
    <h1>Sugestão de livro sobre Programação Orientada a Objetos</h1>
    <p>Livro Java como Programar 8 edição</p>
    <p>Autor: Paul Deitel / Harvey Deitel</p>
    <p>ISBN: 9788576055631</p>
    
    <a href="https://acervo.bibliotecas.ufu.br/mobile/detalhe.php?idioma=ptbr&acesso=web&codigo=110608&tipo=1&detalhe=0&busca=1"> 
        Disponível na Biblioteca da UFU no Campus Monte Carmelo</a>
    
        <br>
    <img src="../assets/img/livro.PNG" alt="">



    


</body>
</html>